signup {

          text-align: center;
          color: #fff;

          .content{
                    background-color: rgba(0, 0, 0, .5);
                    font-family: 'Roboto', cursive;
                    font-size: 24px;
                    font-weight: 700;
                    color: #fff;
          }
          

          div.logo{
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    p{
                              position: absolute;
                              top: 30%;
                              left: 50%;
                              transform: translate(-50%, -50%);
                              font-family: 'Roboto', cursive;
                              font-size: 24px;
                              font-weight: 700;
                              color: #fff;
                    }
          }

          .welcome-text{
                    padding-top: 190px;
                    font-size: 18px;
                    color: #fff;
          }

          ion-item.transparent{
                    background-color: transparent;

                    ion-label{
                              padding-left: 10px;
                    }

                    ion-input.bordered {
                              border-left: 2px solid #fff;
                              border-right: 2px solid #fff;
                    }

                    p.hint{
                              color: rgba(0, 0, 0, .5);
                              text-align: center;
                    }

                    span.hint{
                              color: #fff;
                    }
          }

          button.bordered {
                    width: 40%;
                    left: 50%;
                    border: 2px solid #fff;
                    background-color: transparent;
          }
}
