page-createpost {

          .content{
                    background: #00d2ff; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                    ion-item.transparent {
                              background-color: transparent;

                              ion-input, ion-textarea {
                                        font-family: 'Roboto' sans-serif;
                                        border-bottom: 1px solid #fff;
                              }

                              ion-textarea {
                                        color: #fff;
                              }

                              ion-label {
                                        font-size: 12px;
                              }
                    }

                    ion-note {
                              color: #fff;
                    }
          }
}
